################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/.vs
/Client/.vs/Client/v16
/Client/Library
/Client/Logs
/Client/obj/Debug
/Server/.vs/Server/v16
/Client/Temp
/Server/Lobby/obj
/Server/Game/obj
/Server/Game/bin/Debug/netcoreapp3.1
/Server/Lobby/bin/Debug/netcoreapp3.1
/Server/Service/bin/Debug/netcoreapp3.1
/Server/Service/obj
/Server/.vs/Server/DesignTimeBuild
/Server/.vs/Server/config
/Server/GameServer/bin/Debug/netcoreapp3.1
/Server/GameServer/obj
/Server/LobbyServer/bin/Debug/netcoreapp3.1
/Server/LobbyServer/obj
/Server/GameServer/bin/Release/netcoreapp3.1
/Server/LobbyServer/bin/Release/netcoreapp3.1
/Server/Service/bin/Release/netcoreapp3.1
/Server/GameServer/.config
