################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/.vs
/Client/.vs/Client/v16
/Client/Library
/Client/Logs
/Client/obj/Debug
/Server/.vs/Server/v16
/Client/Temp
/Server/Lobby/obj
